@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* html {
  font-size: 65.5%;
} */

/* body {
  background-color: #111010;
} */

h1 {
  font-size: 2.5rem;
  color: #000;
}
h3 {
  font-size: 2.3rem;
}

img {
  cursor: pointer;
}

/* ------------------------------ */

/* slid bar css */

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background: red;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* ---------------------------- */
/* footer css */

.footer_box {
  background-color: rgb(83, 83, 255);
  color: #fff;
}

.footer_box h3 {
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.3rem;
}

.about {
  margin-bottom: 3rem;
}

.about_para {
  margin: 1rem 0;
}
